* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
}

a,
.low-white {
    color: #e5e7eb;
}

.secondary-text {
    font-size: 18px;  
    margin: 0 0 16px 0;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
}

.hero .container {
    gap: 36px;
    display: flex;
    justify-content: space-between;
}

.dark {
    background-color: #1f2937;
}

.hero {
    padding: 80px 0;
}

header {
    padding: 16px 0;
}

.main-text {
    font-size: 48px;
    font-weight: 900;  
    margin: 0;
}

.white,
.button {
    color: #f9faf8;
}

.button {
    font-weight: 700;
    font-size: 16px;
    border-radius: 8px;
    padding: 8px 32px;
    border: none;
    display: inline-block;
}

.blue {
    background-color: #3882f6;
}

.left,
.right {
    width: 475px;
}

.right {
    background-color: #6c747c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right .white-text {
    color: #f9faf8;
}

.information {
    padding: 64px 0;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.information .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-image {
    display: flex;
    gap: 48px;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 170px;
    
}

.placeholder {
    border: 4px solid #3b83f7;
    border-radius: 16px;
    width: 170px;
    height: 170px;
}

.text {
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
}

.quote .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    margin: 0;
    padding: 0 50px;
}

.quote-name {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    padding-right: 120px;
}

.action {
    padding: 90px 0;
}

.action .container {
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 32px 48px;
    border-radius: 8px;
}

.container--narrow {
    width: 800px;
}

.call-action {
    font-size: 24px;
    font-weight: 700;  
}

.call-action,
.call-action-two {
    margin: 0;
}

.white-line {
    border: 3px solid #ffffff;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;
}